@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:wght@400;700&family=Bellefair&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue-900: #0B0D17;
    --blue-300: #D0D6F9;
    --white: #FFFFFF;
}


html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100dvh;

    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;

    background-color: var(--blue-900);
    color: var(--blue-300);

    font-size: 1.6rem;
}

button {
    border: 0;
    border-radius: 0;
    background-color: transparent;
    cursor: pointer;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.6rem;
}
